@font-face {
  font-family: 'SEGA LOGO FONT';
  font-style: normal;
  font-weight: normal;
  src: local('SEGA LOGO FONT'), url('SEGA.woff') format('woff');
}

h1 {
  font-family: 'SEGA LOGO FONT';
  font-weight: 500;
  color: #e15239;
  text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; /* Border effect */
  letter-spacing: 5px;
}

body {
  background: -webkit-linear-gradient(to right, #C4E0E5, #4CA1AF);
  background: linear-gradient(to right, #C4E0E5, #4CA1AF);
}