.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination-number {
    margin-right: 5px;
    padding: 8px;
    cursor: pointer;
    border: 1px solid #ddd;
    background-color: #E8FDF5;
  }
  
  .pagination-number.active {
    background-color: #e15239;
    color: white;
  }
